@import url(../css/ionicons.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial', san-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility; }

hr {
  height: 1px;
  background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, 0.8), transparent);
  background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, 0.8), transparent);
  background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.8), transparent);
  border: 0;
  color: #666; }

hr:last-child {
  visibility: hidden;
  opacity: 0; }

@media only screen and (max-width: 75em) {
  font-size: 56.25%; }

@media only screen and (max-width: 56.25em) {
  font-size: 50%; }

@media only screen and (min-width: 112.5em) {
  font-size: 75%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #666; }

.btn {
  border-radius: 7px;
  padding: 3px 6px; }
  .btn > p {
    border-radius: 7px;
    padding: 3px 5px; }
  .btn__primary {
    background-color: #0584c0;
    color: #f7f7f7; }
  .btn__secondary {
    background-color: #fd9d3f;
    color: #f7f7f7; }
  .btn__secondary > p {
    background-color: #fd9d3f;
    color: #f7f7f7; }
  .btn__danger {
    background-color: #ff3300;
    color: #f7f7f7; }
  .btn__small {
    font-size: 9px; }
  .btn__shadow {
    box-shadow: 1px 1px colorGrey-light1; }

.row {
  max-width: 114rem;
  background-color: #eee;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 2rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    background-color: orangered;
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 1rem; }
  .row .col-1-of-2 {
    width: calc((100% - 1rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 1rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 1rem) / 4); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 1rem) / 3) + 1rem); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 1rem) / 4) + 1rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 1rem) / 4) + 2 * 1rem); }

.footer {
  background-color: #333;
  padding: 2rem 3rem; }
  @media only screen and (max-width: 37.5em) {
    .footer {
      padding: 1rem 1rem; } }
  .footer__topRow {
    display: flex;
    justify-content: space-between; }
    .footer__topRow--menu {
      text-transform: uppercase; }
    .footer__topRow--contact {
      text-align: right; }
    .footer__topRow ul {
      list-style: none;
      display: flex; }
      @media only screen and (max-width: 56.25em) {
        .footer__topRow ul {
          flex-flow: column; } }
    .footer__topRow--menu li,
    .footer__topRow--contact li {
      margin: 0 1.7rem;
      font-size: 120%; }
      @media only screen and (max-width: 75em) {
        .footer__topRow--menu li,
        .footer__topRow--contact li {
          margin: 0 1rem; } }
      @media only screen and (max-width: 56.25em) {
        .footer__topRow--menu li,
        .footer__topRow--contact li {
          font-size: 90%;
          margin: 0 0; } }
      @media only screen and (max-width: 37.5em) {
        .footer__topRow--menu li,
        .footer__topRow--contact li {
          font-size: 80%;
          margin: 0 0; } }
    .footer__topRow--menu li a:link,
    .footer__topRow--menu li a:visited,
    .footer__topRow--contact li a:link,
    .footer__topRow--contact li a:visited {
      text-decoration: none;
      border: 0;
      color: #888;
      transition: color 0.4s; }
    .footer__topRow--menu li a:hover,
    .footer__topRow--menu li a:active,
    .footer__topRow--contact li a:hover,
    .footer__topRow--contact li a:active {
      color: #dfdfdf; }
    .footer__topRow--contact img {
      height: 1.5rem;
      border-radius: 5px; }
      .footer__topRow--contact img:link, .footer__topRow--contact img:visited {
        transition: all 0.4s; }
      .footer__topRow--contact img:hover, .footer__topRow--contact img:active {
        transform: scale(1.5); }
  .footer__copy {
    color: #888;
    text-align: center;
    margin-top: 1rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__copy {
        font-size: 90%; } }

header {
  background-image: url("");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh; }

.hero {
  display: flex;
  justify-content: space-between;
  position: relative; }
  .hero__logo {
    height: 70px;
    margin: 1rem;
    opacity: .85;
    border-radius: 6px; }
    @media only screen and (max-width: 75em) {
      .hero__logo {
        height: 57.5px; } }
    @media only screen and (max-width: 56.25em) {
      .hero__logo {
        height: 45px; } }
  .hero__mainNav {
    margin: 10px;
    display: flex;
    color: #fff;
    list-style: none;
    height: 3.5rem; }
    @media only screen and (max-width: 56.25em) {
      .hero__mainNav {
        display: none;
        position: absolute;
        top: .4rem;
        right: 0;
        line-height: 1; } }
  @media only screen and (max-width: 56.25em) and (max-width: 37.5em) {
    .hero__mainNav {
      right: -2rem; } }
    .hero__mainNav--item > a {
      margin-right: 2rem;
      color: #fff;
      text-decoration: none;
      padding-bottom: 7px; }
      @media only screen and (max-width: 56.25em) {
        .hero__mainNav--item > a {
          color: #fd9d3f;
          padding-bottom: 2px; } }
      .hero__mainNav--item > a:link, .hero__mainNav--item > a:visited {
        border-bottom: 1px solid transparent;
        transition: border-bottom .4s; }
      .hero__mainNav--item > a:hover, .hero__mainNav--item > a:active {
        border-bottom: 1.5px solid #fff; }
        @media only screen and (max-width: 56.25em) {
          .hero__mainNav--item > a:hover, .hero__mainNav--item > a:active {
            border-bottom: 1.5px solid #fd9d3f; } }
  .hero__hamburger {
    color: #fff;
    position: absolute;
    top: .5rem;
    right: 3rem;
    visibility: hidden;
    opacity: 0; }
    @media only screen and (max-width: 37.5em) {
      .hero__hamburger {
        right: 1rem; } }
    @media only screen and (max-width: 56.25em) {
      .hero__hamburger {
        visibility: visible;
        opacity: 1; } }
  .hero__hamburgerClose {
    visibility: hidden;
    opacity: 0; }

@media only screen and (max-width: 56.25em) {
  .menus {
    display: flex;
    border: 3px solid #0584c0;
    justify-content: space-around; } }

@media only screen and (max-width: 37.5em) {
  .menus {
    display: block;
    border: none; } }

@media only screen and (max-width: 56.25em) {
  .menus__addNav {
    order: 2; } }

.menus__addNav--container {
  display: flex;
  flex: 1;
  height: 100%;
  padding: 5px;
  list-style: none;
  background-color: #0584c0;
  width: 100%; }
  @media only screen and (max-width: 56.25em) {
    .menus__addNav--container {
      flex-flow: column;
      justify-content: stretch;
      padding: 5px 2px; } }
  @media only screen and (max-width: 37.5em) {
    .menus__addNav--container {
      margin: 0; } }
  .menus__addNav--container-item {
    flex: 1;
    text-align: center;
    border: 1px solid #f7f7f7; }
    @media only screen and (max-width: 56.25em) {
      .menus__addNav--container-item {
        padding: 11px 8px; } }
    .menus__addNav--container-item > a {
      text-decoration: none;
      color: #f7f7f7; }
      .menus__addNav--container-item > a:hover, .menus__addNav--container-item > a:active {
        transform: scale(1.2); }

.fa-window-close {
  color: #fd9d3f;
  position: absolute;
  top: .5rem;
  right: 3.5rem; }

.hero {
  width: 100%;
  height: 250px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/jobSearchGears.jpg);
  background-size: cover;
  position: relative; }
  .hero__mainTitle {
    width: 100%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #f7f7f7; }
    .hero__mainTitle--mainHeading {
      font-weight: 300;
      letter-spacing: 3px; }
      @media only screen and (max-width: 37.5em) {
        .hero__mainTitle--mainHeading {
          font-size: 120%;
          font-weight: 400; } }
    .hero__mainTitle--subHeading {
      font-weight: 400;
      letter-spacing: 3px; }
      .hero__mainTitle--subHeading > span {
        color: #0584c0; }
      @media only screen and (max-width: 37.5em) {
        .hero__mainTitle--subHeading {
          font-size: 145%; } }

.mainBoard {
  padding: 0 40px; }
  .mainBoard > h1 > span {
    color: #0584c0; }

.about__container {
  width: 100%;
  margin: 0 auto;
  padding-top: 1.5rem; }
  .about__container > p {
    margin-top: 1rem;
    font-size: 1rem;
    line-height: normal;
    padding: 0 10% .5rem 10%; }
    .about__container > p > span {
      color: #03abf8; }
    .about__container > p > a:link,
    .about__container > p > a:visited {
      text-decoration: none;
      color: #03abf8;
      font-weight: 400;
      font-size: 95%;
      padding-bottom: 2px;
      border-bottom: 2px solid transparent;
      transition: border-bottom 0.4s; }
    .about__container > p > a:hover,
    .about__container > p > a:active {
      border-bottom: 2px solid #03abf8; }
    .about__container > p > img {
      float: right;
      margin: 1rem; }
      @media only screen and (max-width: 56.25em) {
        .about__container > p > img {
          height: 10rem; } }
      @media only screen and (max-width: 56.25em) {
        .about__container > p > img {
          height: 5rem; } }
  .about__container--thisWebsite {
    background-color: #e7e7e7;
    padding-top: 1.5rem; }
    .about__container--thisWebsite > p {
      padding: 1.5rem 10%; }
      .about__container--thisWebsite > p > a:link,
      .about__container--thisWebsite > p > a:visited {
        color: #0584c0;
        text-decoration: none; }
      .about__container--thisWebsite > p > a:hover,
      .about__container--thisWebsite > p > a:active {
        color: #0584c0;
        border-bottom: 2px solid #0584c0; }
  .about__container h2 {
    text-align: center;
    margin: 0 auto; }
    .about__container h2:after {
      display: block;
      height: 2px;
      background-color: #0584c0;
      content: ' ';
      width: 100px;
      margin: 0 auto;
      margin-top: 1.5rem; }

.contact {
  font-size: .8rem;
  line-height: normal;
  background-color: #e7e7e7;
  padding: 1.5rem 10%; }
  .contact__campusInfo {
    text-align: center;
    display: flex;
    justify-content: space-around; }
    @media only screen and (max-width: 37.5em) {
      .contact__campusInfo {
        font-size: 14px; } }
    .contact__campusInfo--campus {
      padding: 3px;
      text-align: center; }
      .contact__campusInfo--campus-line1 {
        font-weight: 600; }
  .contact h2 {
    text-align: center;
    margin: 0 auto; }
    .contact h2:after {
      display: block;
      height: 2px;
      background-color: #0584c0;
      content: ' ';
      width: 100px;
      margin: 0 auto;
      margin-top: 30px; }

.search__form {
  padding: 2rem 2rem;
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .search__form {
      display: block;
      padding-top: 0;
      flex: 1;
      order: 1; } }
  @media only screen and (max-width: 37.5em) {
    .search__form {
      padding-top: 2rem; } }
  .search__form--title {
    flex: 1; }
  .search__form--selectBoxes {
    flex: 5;
    display: flex;
    justify-content: flex-start; }
    @media only screen and (max-width: 75em) {
      .search__form--selectBoxes {
        flex-flow: column; } }
    .search__form--selectBoxes-item {
      padding: 5px 18px;
      border-radius: 7px;
      outline: none;
      font-size: 16px;
      margin-right: 4rem;
      margin-top: .5rem; }
      @media only screen and (max-width: 75em) {
        .search__form--selectBoxes-item {
          width: 40%; } }
      @media only screen and (max-width: 56.25em) {
        .search__form--selectBoxes-item {
          width: auto; } }

.listings {
  padding: 0 2rem 0 2rem; }
  @media only screen and (max-width: 56.25em) {
    .listings {
      padding: 0; } }
  .listings__job {
    display: flex;
    padding-top: 1.5rem; }
    @media only screen and (max-width: 56.25em) {
      .listings__job {
        display: block; } }
    .listings__job--type {
      flex: 1;
      align-self: center;
      justify-self: center;
      display: inline-flex;
      margin: 2rem; }
      @media only screen and (max-width: 56.25em) {
        .listings__job--type {
          margin: 0; } }
    .listings__job--info {
      flex: 5;
      font-size: 80%; }
      .listings__job--info-line1 {
        display: flex; }
        @media only screen and (max-width: 56.25em) {
          .listings__job--info-line1 {
            margin-top: 1rem; } }
      .listings__job--info-line2 {
        display: flex;
        justify-content: space-between; }
        .listings__job--info-line2-datePosted {
          font-style: italic; }
      .listings__job--info-descriptionReadMore {
        color: #0584c0;
        font-size: .7rem; }

.addJob {
  margin: 50px 25px; }
  .addJob__mainHeading {
    text-decoration: none;
    color: #777; }
  .addJob__mainHeading > span {
    color: #0584c0; }
  .addJob > button {
    border-radius: 7px;
    padding: 5px 10px;
    margin: 10px;
    font-size: 125%; }
  .addJob__job * input,
  .addJob__job > select,
  .addJob__job * textarea {
    border-radius: 7px;
    padding: 5px 10px;
    margin: 10px; }
  .addJob__job * input {
    width: 100%; }
  .addJob__job--datePosted > input {
    width: 150px; }

.admin__messageBox {
  background-color: #0584c0;
  padding: 5px 10px;
  border: 7px double white;
  box-shadow: 2px 5px #eee;
  color: #f7f7f7;
  width: auto;
  text-align: center;
  margin-bottom: 2.5rem;
  margin-top: 0;
  display: inline-flex; }

.admin__editDelete {
  display: flex; }
  .admin__editDelete > a {
    text-decoration: none;
    width: 75px;
    text-align: center;
    font-size: 14px; }
  .admin__editDelete--edit {
    margin-right: 7px; }

.edit__cancel {
  text-decoration: none;
  font-size: 14px;
  box-shadow: 2px 2px #bbbaba;
  margin-left: 15px; }

.deleteJob {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 25px; }
  .deleteJob__ask {
    background-color: #777;
    padding: 10px;
    box-shadow: 2px 5px #eee;
    border-radius: 7px;
    text-align: center;
    color: #f7f7f7;
    margin-right: 25px; }
  .deleteJob > a {
    text-decoration: none;
    padding: 0px 6px;
    margin-left: 25px;
    margin-top: 6px;
    box-shadow: 2px 2px grey;
    display: inline-flex;
    font-size: 15px; }

.updateSelectorsHeading {
  margin: 1.5rem; }

.updateSelectors {
  width: 50%;
  margin: auto auto 5rem auto;
  border: 5px double #0584c0;
  padding: 0 3rem 1.5rem 3rem;
  border-radius: 7px; }
  @media only screen and (max-width: 75em) {
    .updateSelectors {
      width: 80%; } }
  @media only screen and (max-width: 56.25em) {
    .updateSelectors {
      width: 96%;
      padding: 0 1rem 1.5rem 1rem; } }
  .updateSelectors__selector {
    margin: 1.5rem auto 2rem auto; }
    .updateSelectors__selector--add {
      display: flex;
      padding: 2px 4px; }
      .updateSelectors__selector--add > :first-child {
        flex: 1;
        width: 100%;
        text-align: center;
        margin-right: 5px;
        border-radius: 7px;
        padding: 3px 5px; }
      .updateSelectors__selector--add > :nth-child(2) {
        flex: 7;
        margin-right: 5px;
        padding: 3px 5px; }
      .updateSelectors__selector--add > :nth-child(3) {
        flex: 2; }
    .updateSelectors__selector--item {
      display: flex;
      border-radius: 7px;
      padding: 2px 4px; }
      .updateSelectors__selector--item-order {
        flex: 1;
        margin-right: 5px; }
        .updateSelectors__selector--item-order > input {
          width: 100%;
          padding: 3px 5px;
          border-radius: 7px; }
      .updateSelectors__selector--item-itemName {
        flex: 7;
        margin-right: 5px; }
        .updateSelectors__selector--item-itemName > input {
          width: 100%;
          padding: 3px 5px;
          border-radius: 7px; }
      .updateSelectors__selector--item-saveEdit {
        flex: 1; }
        .updateSelectors__selector--item-saveEdit > input {
          width: 100%;
          padding: 2px;
          border-radius: 7px; }
          @media only screen and (max-width: 37.5em) {
            .updateSelectors__selector--item-saveEdit > input {
              font-size: 9px; } }
        @media only screen and (max-width: 37.5em) {
          .updateSelectors__selector--item-saveEdit > button {
            font-size: 9px; } }
    .updateSelectors__selector > p {
      font-size: .65rem; }
