.addJob {
    margin: 50px 25px;

    &__mainHeading {
        text-decoration: none;
        color: $colorGrey-dark1;
    }
    &__mainHeading>span {
        color: $colorPrimary;
    }

    &>button {
        border-radius: 7px;
        padding: 5px 10px;
        margin: 10px;
        font-size: 125%;
    }
    &>h2>span {
        color:$colorPrimary;
    }

    &__job {
        
        & * input,
        &>select,
        & * textarea {
            border-radius: 7px;
            padding: 5px 10px;
            margin: 10px;
        }

       
        & * input {
            width: 100%;
        }

        &--datePosted {
            &>input {
                width: 150px;
            }
        }
        &--passwordInput {
            display: block;
            font-size: 125%;
            
            &>input,
            &>a {
                font-size: 125%;
                padding: 3px 5px;
                border-radius: 7px;
            }
            
            &-buttons>input,
            &-buttons>a, {
                font-size: 125%;
                width: auto;
            }
        }
    }    
}